.debug-box{
    margin: 20px 20px;
    padding: 13px 20px 15px 15px;
    border: 0px solid grey;
    border-radius: 0px;
    overflow: hidden;
    font-family: Verdana, Arial;
    font-size: 10px;
    text-shadow: 5px 3px 8px rgba(0, 0, 0, .30)
}
.debug-box pre{
    overflow: auto;
    border: 1px solid #CCC;
    background: #FEFEFE;
    margin-top: 10px;
    padding: 10px;
    word-wrap: break-word;
}
.encodedError{
    width: 95%;
    border: 1px solid grey;
    border-radius: 5px;
    overflow: auto;
    font-family: “Consolas”,monospace;
    font-size: 9pt;
    text-align:left;
    background-color: #FCF7EC;
    overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    margin: 15px 0px 0px 0px;
    padding: 7px 9px 7px 11px;
    white-space : normal; /* crucial for IE 6, maybe 7? */
    height: 150px;
}

.debug-box .checkLine{
    background: #FFEDED;
    min-width: 100%;
}

.debug-box .checkError{
    background: #FFD4D4;
    min-width: 100%;
}